/*COLORES*/
$primary-color: #0000A3;
$primary-color2: #0000FF;
$primary-color3: #0000EC;

$secondary-color: #00F3BB;

$dark-color: #060A24;

/*FONTS*/
$primary-font-family:'IBM Plex Sans', sans-serif;
$secondary-font-family:'IBM Plex Mono', monospace;

/*SIZES*/

$size: .85rem;


